.header-wrapper {
  display: contents;
}
 
.header-thq-header-elm {
  flex: 0 0 auto;
  width: 100%;
  height: 75px;
  display: flex;
  padding: var(--dl-layout-space-unitandhalf);
  z-index: 1;
  max-width: 1320px;
  align-items: center;
  margin-bottom: 0.75rem;
  flex-direction: row;
  justify-content: space-between;
}
 
.header-container1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.header-navlink1 {
  display: contents;
}
 
.header-thq-heading-elm1 {
  color: var(--dl-color-gray-white);
  font-weight: 700;
  margin-right: var(--dl-layout-space-unit);
  text-decoration: none;
}
 
.header-navlink2 {
  display: contents;
}
 
.header-container2 {
  display: flex;
  align-items: center;
  margin-right: var(--dl-layout-space-unit);
  flex-direction: row;
  text-decoration: none;
}
 
.header-icon10 {
  fill: var(--dl-color-gray-900);
  width: 13px;
}
 
.header-text1 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-layout-space-halfunit);
}
 
.header-navlink3 {
  display: contents;
}
 
.header-container3 {
  display: flex;
  align-items: center;
  margin-left: var(--dl-layout-space-halfunit);
  flex-direction: row;
  text-decoration: none;
}
 
.header-icon12 {
  fill: var(--dl-color-gray-900);
  width: 13px;
}
 
.header-text2 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-layout-space-halfunit);
}
 
.header-thq-burger-menu-elm {
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.header-icon17 {
  width: 24px;
  height: 24px;
}
 
.header-container4 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.header-icon19 {
  fill: var(--dl-color-gray-900);
  width: 24px;
  height: 24px;
  margin-top: var(--dl-layout-space-halfunit);
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.header-icon21 {
  fill: var(--dl-color-gray-900);
  width: 24px;
  height: 24px;
  margin-top: var(--dl-layout-space-halfunit);
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.header-icon23 {
  fill: var(--dl-color-gray-900);
  width: 24px;
  height: 24px;
  margin-top: var(--dl-layout-space-halfunit);
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.header-thq-mobile-menu-elm {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-layout-space-unitandhalf);
  z-index: 100;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
}
 
.header-thq-top-elm {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-unit);
  flex-direction: row;
  justify-content: space-between;
}
 
.header-navlink4 {
  display: contents;
}
 
.header-thq-heading-elm2 {
  color: var(--dl-color-secondary-400);
  font-weight: 700;
  margin-right: var(--dl-layout-space-unit);
  text-decoration: none;
}
 
.header-thq-close-menu-elm {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.header-icon25 {
  width: 24px;
  height: 24px;
}
 
.header-thq-mid-elm {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
 
.header-navlink5 {
  display: contents;
}
 
.header-container5 {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  flex-direction: row;
  text-decoration: none;
}
 
.header-icon27 {
  fill: var(--dl-color-secondary-400);
  width: 13px;
}
 
.header-text3 {
  color: var(--dl-color-secondary-400);
  margin-left: var(--dl-layout-space-halfunit);
}
 
.header-navlink6 {
  display: contents;
}
 
.header-container6 {
  display: flex;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
}
 
.header-icon29 {
  fill: var(--dl-color-secondary-400);
  width: 13px;
}
 
.header-text4 {
  color: var(--dl-color-secondary-400);
  margin-left: var(--dl-layout-space-halfunit);
}
 
.header-thq-bot-elm {
  flex: 0 0 auto;
  display: flex;
  margin-top: auto;
  align-items: center;
  flex-direction: row;
}
 
.header-icon34 {
  fill: var(--dl-color-secondary-400);
  width: 24px;
  height: 24px;
  margin-top: var(--dl-layout-space-halfunit);
  margin-right: 0.75rem;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.header-icon36 {
  fill: var(--dl-color-secondary-400);
  width: 24px;
  height: 24px;
  margin-top: var(--dl-layout-space-halfunit);
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.header-icon38 {
  fill: var(--dl-color-secondary-400);
  width: 24px;
  height: 24px;
  margin-top: var(--dl-layout-space-halfunit);
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.headerroot-class-name {
  margin-bottom: 0px;
}
 
@media(max-width: 991px) {
  .header-thq-header-elm {
    max-width: 1320px;
    margin-bottom: var(--dl-layout-space-triplequarter);
  }
  .header-icon19 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .header-icon21 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .header-icon23 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .header-icon34 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .header-icon36 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .header-icon38 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
 
@media(max-width: 767px) {
  .header-thq-header-elm {
    background-color: var(--dl-color-gray-white);
  }
  .header-thq-heading-elm1 {
    color: var(--dl-color-secondary-400);
  }
  .header-container2 {
    display: none;
  }
  .header-container3 {
    display: none;
  }
  .header-thq-burger-menu-elm {
    display: flex;
  }
  .header-icon17 {
    fill: var(--dl-color-secondary-400);
  }
  .header-container4 {
    display: none;
  }
  .headerroot-class-name {
    margin-bottom: 0px;
  }
}

.secondary-button-wrapper {
  display: contents;
}
 
.secondary-button-container {
  display: flex;
  position: relative;
}
 
.secondary-button-button {
  color: var(--dl-color-gray-white);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);
  transition: 0.3s;
  line-height: 1;
  padding-top: var(--dl-layout-space-halfunit);
  border-width: 0px;
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  text-transform: uppercase;
  background-color: var(--dl-color-secondary-300);
}
 
.secondary-button-button:hover {
  box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1),0 2px 4px -1px rgba(0,0,0,0.06);
}
 
.secondary-button-button:active {
  background-color: var(--dl-color-secondary-100);
}
 
.secondary-buttonroot-class-name {
  margin-top: var(--dl-layout-space-unitandhalf);
}

.post-reaction-wrapper {
  display: contents;
}
 
.post-reaction-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-unitandhalf);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-unitandhalf);
}
 
.post-reaction-container2 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.post-reaction-image {
  width: 40px;
  object-fit: cover;
  margin-right: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-round);
}
 
.post-reaction-container3 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.post-reaction-text1 {
  color: var(--dl-color-secondary-400);
  font-weight: 700;
  line-height: 40px;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.post-reaction-text2 {
  color: rgba(100, 116, 139,1);
  font-weight: 300;
  line-height: 1.625;
}
 
.post-reaction-container4 {
  flex: 0 0 auto;
  display: flex;
  margin-top: var(--dl-layout-space-halfunit);
  align-items: center;
  flex-direction: row;
}
 
.post-reaction-icon1 {
  fill: var(--dl-color-secondary-500);
  width: 14px;
  height: 100%;
}
 
.post-reaction-text3 {
  color: var(--dl-color-secondary-500);
  margin-left: 0.25rem;
}
 
.post-reaction-text4 {
  color: var(--dl-color-secondary-500);
  margin-left: 0.25rem;
}
 
.post-reaction-icon3 {
  fill: var(--dl-color-secondary-500);
  width: 14px;
  margin-top: 2px;
  margin-left: var(--dl-layout-space-unit);
}
 
.post-reaction-text5 {
  color: var(--dl-color-secondary-500);
  margin-left: 0.25rem;
}
 
.post-reaction-text6 {
  color: var(--dl-color-secondary-500);
  margin-left: 0.25rem;
}
 
.post-reaction-thq-divider-elm {
  flex: 0 0 auto;
  width: 100%;
  height: 0.5px;
  display: flex;
  opacity: 0.5;
  align-self: center;
  margin-top: var(--dl-layout-space-unit);
  align-items: flex-start;
  margin-bottom: var(--dl-layout-space-unit);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}

.post-reaction-wrapper-5uk1 {
  display: contents;
}
 
.post-reaction-container5 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-unitandhalf);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-unitandhalf);
}
 
.post-reaction-container6 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.post-reaction-image1 {
  width: 40px;
  object-fit: cover;
  margin-right: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-round);
}
 
.post-reaction-container7 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.post-reaction-text7 {
  color: var(--dl-color-secondary-400);
  font-weight: 700;
  line-height: 40px;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.post-reaction-text8 {
  color: rgba(100, 116, 139,1);
  font-weight: 300;
  line-height: 1.625;
}
 
.post-reaction-container8 {
  flex: 0 0 auto;
  display: flex;
  margin-top: var(--dl-layout-space-halfunit);
  align-items: center;
  flex-direction: row;
}
 
.post-reaction-icon5 {
  fill: var(--dl-color-secondary-500);
  width: 14px;
  height: 100%;
}
 
.post-reaction-text9 {
  color: var(--dl-color-secondary-500);
  margin-left: 0.25rem;
}
 
.post-reaction-text10 {
  color: var(--dl-color-secondary-500);
  margin-left: 0.25rem;
}
 
.post-reaction-icon7 {
  fill: var(--dl-color-secondary-500);
  width: 14px;
  margin-top: 2px;
  margin-left: var(--dl-layout-space-unit);
}
 
.post-reaction-text11 {
  color: var(--dl-color-secondary-500);
  margin-left: 0.25rem;
}
 
.post-reaction-text12 {
  color: var(--dl-color-secondary-500);
  margin-left: 0.25rem;
}
 
.post-reaction-thq-divider-elm1 {
  flex: 0 0 auto;
  width: 100%;
  height: 0.5px;
  display: flex;
  opacity: 0.5;
  align-self: center;
  margin-top: var(--dl-layout-space-unit);
  align-items: flex-start;
  margin-bottom: var(--dl-layout-space-unit);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}

.label-wrapper {
  display: contents;
}
 
.label-container {
  display: flex;
  position: relative;
}

.article-card-wrapper {
  display: contents;
}
 
.article-card-container1 {
  flex: 0 0 auto;
  width: 90%;
  display: flex;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  align-items: center;
  border-radius: var(--dl-layout-radius-radius75);
  margin-bottom: var(--dl-layout-space-doubleunit);
  flex-direction: row;
}
 
.article-card-image1 {
  width: 33%;
  object-fit: cover;
  border-radius: 0px;
  border-top-left-radius: var(--dl-layout-radius-radius75);
  border-bottom-left-radius: var(--dl-layout-radius-radius75);
}
 
.article-card-container2 {
  flex: 1;
  width: 100%;
  display: flex;
  padding: var(--dl-layout-space-unit);
  align-items: flex-start;
  flex-direction: column;
}
 
.article-card-text1 {
  color: var(--dl-color-secondary-300);
  font-weight: 600;
}
 
.article-card-container3 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.article-card-text2 {
  color: var(--dl-color-secondary-500);
  font-size: 1.125rem;
  font-weight: 300;
  margin-bottom: var(--dl-layout-space-doubleunit);
}
 
.article-card-container4 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.article-card-image2 {
  width: 48px;
  object-fit: cover;
  margin-right: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-round);
}
 
.article-card-container5 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.article-card-text3 {
  color: var(--dl-color-secondary-500);
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}
 
.article-card-container6 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.article-card-text4 {
  color: var(--dl-color-secondary-500);
}
 
@media(max-width: 991px) {
  .article-card-container1 {
    flex-direction: column;
  }
  .article-card-image1 {
    width: 100%;
    margin-bottom: var(--dl-layout-space-unit);
  }
}

.article-card-wrapper-jq7w {
  display: contents;
}
 
.article-card-container7 {
  flex: 0 0 auto;
  width: 90%;
  display: flex;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  align-items: center;
  border-radius: var(--dl-layout-radius-radius75);
  margin-bottom: var(--dl-layout-space-doubleunit);
  flex-direction: row;
}
 
.article-card-image3 {
  width: 33%;
  object-fit: cover;
  border-radius: 0px;
  border-top-left-radius: var(--dl-layout-radius-radius75);
  border-bottom-left-radius: var(--dl-layout-radius-radius75);
}
 
.article-card-container8 {
  flex: 1;
  width: 100%;
  display: flex;
  padding: var(--dl-layout-space-unit);
  align-items: flex-start;
  flex-direction: column;
}
 
.article-card-text5 {
  color: var(--dl-color-secondary-300);
  font-weight: 600;
}
 
.article-card-container9 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.article-card-text6 {
  color: var(--dl-color-secondary-500);
  font-size: 1.125rem;
  font-weight: 300;
  margin-bottom: var(--dl-layout-space-doubleunit);
}
 
.article-card-container10 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.article-card-image4 {
  width: 48px;
  object-fit: cover;
  margin-right: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-round);
}
 
.article-card-container11 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.article-card-text7 {
  color: var(--dl-color-secondary-500);
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}
 
.article-card-container12 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.article-card-text8 {
  color: var(--dl-color-secondary-500);
}
 
@media(max-width: 991px) {
  .article-card-container7 {
    flex-direction: column;
  }
  .article-card-image3 {
    width: 100%;
    margin-bottom: var(--dl-layout-space-unit);
  }
}

.article-card-wrapper-ol4x {
  display: contents;
}
 
.article-card-container13 {
  flex: 0 0 auto;
  width: 90%;
  display: flex;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  align-items: center;
  border-radius: var(--dl-layout-radius-radius75);
  margin-bottom: var(--dl-layout-space-doubleunit);
  flex-direction: row;
}
 
.article-card-image5 {
  width: 33%;
  object-fit: cover;
  border-radius: 0px;
  border-top-left-radius: var(--dl-layout-radius-radius75);
  border-bottom-left-radius: var(--dl-layout-radius-radius75);
}
 
.article-card-container14 {
  flex: 1;
  width: 100%;
  display: flex;
  padding: var(--dl-layout-space-unit);
  align-items: flex-start;
  flex-direction: column;
}
 
.article-card-text9 {
  color: var(--dl-color-secondary-300);
  font-weight: 600;
}
 
.article-card-container15 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.article-card-text10 {
  color: var(--dl-color-secondary-500);
  font-size: 1.125rem;
  font-weight: 300;
  margin-bottom: var(--dl-layout-space-doubleunit);
}
 
.article-card-container16 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.article-card-image6 {
  width: 48px;
  object-fit: cover;
  margin-right: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-round);
}
 
.article-card-container17 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.article-card-text11 {
  color: var(--dl-color-secondary-500);
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}
 
.article-card-container18 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.article-card-text12 {
  color: var(--dl-color-secondary-500);
}
 
@media(max-width: 991px) {
  .article-card-container13 {
    flex-direction: column;
  }
  .article-card-image5 {
    width: 100%;
    margin-bottom: var(--dl-layout-space-unit);
  }
}

.footer-wrapper {
  display: contents;
}
 
.footer-container1 {
  width: 100%;
  display: flex;
  padding: var(--dl-layout-space-doubleunit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-pimary-900);
}
 
.footer-container2 {
  width: 100%;
  display: flex;
  max-width: 1320px;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.footer-container3 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer-text1 {
  color: var(--dl-color-secondary-400);
  margin-top: var(--dl-layout-space-unit);
  font-weight: 600;
}
 
.footer-text2 {
  color: var(--dl-color-secondary-500);
  margin-top: var(--dl-layout-space-halfunit);
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.footer-container4 {
  display: flex;
  margin-top: var(--dl-layout-space-unitandhalf);
  align-items: flex-start;
  flex-direction: row;
}
 
.footer-link1 {
  display: contents;
}
 
.footer-container5 {
  flex: 0 0 auto;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  margin-left: var(--dl-layout-space-halfunit);
  border-radius: var(--dl-layout-radius-round);
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
 
.footer-image1 {
  width: 50%;
  height: 20px;
  object-fit: cover;
}
 
.footer-link2 {
  display: contents;
}
 
.footer-container6 {
  flex: 0 0 auto;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  margin-left: var(--dl-layout-space-halfunit);
  border-radius: var(--dl-layout-radius-round);
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
 
.footer-icon1 {
  fill: #4267B2;
  width: 16px;
  height: 16px;
}
 
.footer-link3 {
  display: contents;
}
 
.footer-container7 {
  flex: 0 0 auto;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  margin-left: var(--dl-layout-space-halfunit);
  border-radius: var(--dl-layout-radius-round);
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
 
.footer-image2 {
  width: 94px;
  height: 26px;
  object-fit: cover;
}
 
.footer-table {
  width: 400px;
  display: table;
  border-collapse: collapse;
}
 
.footer-container8 {
  flex: 0 0 auto;
  width: 100%;
  height: 1px;
  display: flex;
  margin-top: var(--dl-layout-space-tripleunit);
  align-items: flex-start;
  margin-bottom: var(--dl-layout-space-tripleunit);
  flex-direction: column;
  background-color: #e3e8efff;
}
 
.footer-text3 {
  color: var(--dl-color-secondary-500);
  align-self: center;
}
 
@media(max-width: 991px) {
  .footer-container2 {
    align-items: center;
    flex-direction: column;
  }
  .footer-container3 {
    align-items: center;
    margin-bottom: var(--dl-layout-space-doubleunit);
  }
}
 
@media(max-width: 767px) {
  .footer-text2 {
    text-align: center;
  }
}
 
@media(max-width: 479px) {
  .footer-text2 {
    color: var(--dl-color-secondary-500);
    margin-top: var(--dl-layout-space-halfunit);
    text-align: center;
    margin-bottom: var(--dl-layout-space-halfunit);
  }
}

.blog-post-container10 {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.blog-post-thq-hero-elm {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  min-height: 75vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-start;
  background-image: url("public/photo-1-1500h.jpg");
}
 
.blog-post-thq-fixed-header-elm {
  width: 100%;
  display: flex;
  z-index: 200;
  position: fixed;
  box-shadow: 0px 0px 20px 0px rgba(17, 18, 38, 0.15);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-secondary-300);
}
 
.blog-post-text10 {
  top: 0px;
  left: 276px;
  color: var(--dl-color-gray-white);
  right: auto;
  bottom: 0px;
  margin: auto;
  z-index: 100;
  text-align: center;
}
 
.blog-post-thq-bg-elm {
  top: auto;
  flex: 0 0 auto;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: auto;
  height: 100%;
  display: flex;
  opacity: 0.4;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-black);
}
 
.blog-post-thq-post-details-elm {
  flex: 0 0 auto;
  width: 95%;
  display: flex;
  position: relative;
  max-width: 1320px;
  box-shadow: 0px 10px 15px -10px #626262;
  margin-top: -100px;
  padding-left: var(--dl-layout-space-tripleunit);
  border-radius: var(--dl-layout-radius-radius75);
  padding-right: var(--dl-layout-space-tripleunit);
  flex-direction: column;
  background-color: var(--dl-color-secondary-300);
}
 
.blog-post-container11 {
  top: -2rem;
  flex: 0 0 auto;
  left: auto;
  right: auto;
  width: 4rem;
  bottom: auto;
  height: 4rem;
  display: flex;
  position: absolute;
  align-self: center;
  align-items: center;
  border-radius: var(--dl-layout-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-pimary-500);
}
 
.blog-post-icon10 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
 
.blog-post-text11 {
  color: var(--dl-color-gray-white);
  align-self: center;
  margin-top: var(--dl-layout-space-tripleunit);
}
 
.blog-post-text12 {
  color: #94a3b8ff;
  align-self: center;
}
 
.blog-post-text13 {
  white-space: normal;
}
 
.blog-post-text14 {
  white-space: normal;
}
 
.blog-post-text15 {
  font-style: italic;
}
 
.blog-post-text16 {
  color: var(--dl-color-gray-white);
  font-size: 1rem;
  font-style: normal;
  text-align: center;
  font-weight: 300;
  padding-top: var(--dl-layout-space-tripleunit);
  padding-bottom: var(--dl-layout-space-tripleunit);
}
 
.blog-post-text17 {
  text-align: center;
}
 
.blog-post-container12 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
 
.blog-post-thq-story-elm {
  width: 100%;
  display: flex;
  max-width: 1320px;
  grid-column: 3/11;
  padding-top: var(--dl-layout-space-tripleunit);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  flex-direction: column;
}
 
.blog-post-text18 {
  color: #94a3b8ff;
}
 
.blog-post-text20 {
  color: var(--dl-color-secondary-400);
  font-size: 1.875rem;
}
 
.blog-post-image1 {
  width: 100%;
  box-shadow:  0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  margin-top: var(--dl-layout-space-tripleunit);
  object-fit: contain;
  border-radius: var(--dl-layout-radius-radius75);
  margin-bottom: var(--dl-layout-space-tripleunit);
}
 
.blog-post-text21 {
  color: rgba(100,116,139,1);
  font-weight: 300;
  margin-bottom: var(--dl-layout-space-doubleunit);
}
 
.blog-post-text22 {
  font-weight: 400;
  white-space: normal;
}
 
.blog-post-text25 {
  font-weight: 400;
  white-space: normal;
}
 
.blog-post-container13 {
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-width: 0px;
  padding-left: var(--dl-layout-space-unit);
  flex-direction: column;
  border-left-width: 1px;
}
 
.blog-post-text27 {
  color: rgb(100, 116, 139);
  display: inline;
  font-weight: 400;
  white-space: normal;
}
 
.blog-post-text28 {
  color: rgb(100, 116, 139);
  display: inline;
  font-weight: 400;
  white-space: normal;
}
 
.blog-post-text29 {
  color: rgb(100, 116, 139);
  display: inline;
  font-weight: 400;
  white-space: normal;
}
 
.blog-post-text30 {
  color: var(--dl-color-secondary-400);
}
 
.blog-post-text31 {
  display: inline;
  font-weight: 600;
  white-space: normal;
}
 
.blog-post-text32 {
  font-weight: 600;
}
 
.blog-post-text33 {
  color: var(--dl-color-secondary-400);
  font-size: 1.875rem;
  margin-top: var(--dl-layout-space-doubleunit);
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.blog-post-text34 {
  color: rgba(100,116,139,1);
  font-weight: 300;
  margin-bottom: var(--dl-layout-space-doubleunit);
}
 
.blog-post-text35 {
  white-space: normal;
}
 
.blog-post-image2 {
  width: 450px;
  align-self: center;
  box-shadow: 0 20px 25px -5px rgba(0,0,0,0.1),0 10px 10px -5px rgba(0,0,0,0.04);
  margin-top: var(--dl-layout-space-tripleunit);
  object-fit: cover;
  border-radius: var(--dl-layout-radius-radius75);
  margin-bottom: var(--dl-layout-space-tripleunit);
}
 
.blog-post-text36 {
  color: var(--dl-color-secondary-400);
  font-size: 1.875rem;
  margin-top: var(--dl-layout-space-tripleunit);
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.blog-post-text37 {
  color: rgba(100,116,139,1);
  font-weight: 300;
  margin-bottom: var(--dl-layout-space-doubleunit);
}
 
.blog-post-text38 {
  font-weight: 400;
  white-space: normal;
}
 
.blog-post-text41 {
  font-weight: 400;
  white-space: normal;
}
 
.blog-post-text44 {
  font-weight: 400;
  white-space: normal;
}
 
.blog-post-thq-post-elm {
  flex: 0 0 auto;
  width: 60%;
  display: flex;
  padding: var(--dl-layout-space-unit);
  max-width: 600px;
  align-self: center;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  align-items: flex-start;
  flex-direction: column;
}
 
.blog-post-text45 {
  color: var(--dl-color-secondary-400);
  font-weight: 700;
}
 
.blog-post-thq-divider-elm1 {
  flex: 0 0 auto;
  width: 100%;
  height: 0.5px;
  display: flex;
  opacity: 0.5;
  align-self: center;
  margin-top: var(--dl-layout-space-halfunit);
  align-items: flex-start;
  margin-bottom: var(--dl-layout-space-halfunit);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
 
.blog-post-container14 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--dl-layout-space-triplequarter);
  align-items: center;
  margin-bottom: var(--dl-layout-space-triplequarter);
  flex-direction: row;
  justify-content: space-between;
}
 
.blog-post-container15 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.blog-post-image3 {
  width: 40px;
  object-fit: cover;
  margin-right: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-round);
}
 
.blog-post-container16 {
  flex: 0 0 auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.blog-post-text46 {
  color: var(--dl-color-secondary-300);
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}
 
.blog-post-container17 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.blog-post-text47 {
  color: var(--dl-color-secondary-500);
  font-weight: 400;
  line-height: 20px;
}
 
.blog-post-text48 {
  color: rgba(100, 116, 139,1);
  font-weight: 300;
  line-height: 1.625;
}
 
.blog-post-text49 {
  display: inline;
  font-weight: 400;
  white-space: normal;
  background-color: rgb(255, 255, 255);
}
 
.blog-post-image4 {
  width: 100%;
  margin-top: var(--dl-layout-space-unit);
  object-fit: cover;
  border-radius: var(--dl-layout-radius-radius75);
  margin-bottom: var(--dl-layout-space-unit);
}
 
.blog-post-container18 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: var(--dl-layout-space-doubleunit);
  padding-right: var(--dl-layout-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
 
.blog-post-container19 {
  flex: 0 0 auto;
  display: flex;
  align-self: center;
  margin-top: var(--dl-layout-space-halfunit);
  align-items: center;
  flex-direction: row;
}
 
.blog-post-icon12 {
  fill: rgba(148, 163, 184, 1);
  width: 14px;
  height: 14px;
  margin-top: 1px;
}
 
.blog-post-text50 {
  color: var(--dl-color-secondary-500);
  line-height: 1.75ren;
  margin-left: 0.25rem;
}
 
.blog-post-icon14 {
  fill: rgba(148, 163, 184, 1);
  width: 14px;
  height: 14px;
  margin-left: var(--dl-layout-space-unit);
}
 
.blog-post-text51 {
  color: var(--dl-color-secondary-500);
  line-height: 1.75ren;
  margin-left: 0.25rem;
}
 
.blog-post-icon16 {
  fill: rgba(148, 163, 184, 1);
  width: 14px;
  height: 14px;
  margin-top: 2px;
  margin-left: var(--dl-layout-space-unit);
}
 
.blog-post-text52 {
  color: var(--dl-color-secondary-500);
  line-height: 1.75ren;
  margin-left: 0.25rem;
}
 
.blog-post-container20 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.blog-post-image5 {
  width: 20px;
  object-fit: cover;
  border-color: var(--dl-color-gray-white);
  border-width: 1px;
  border-radius: var(--dl-layout-radius-round);
}
 
.blog-post-image6 {
  width: 20px;
  object-fit: cover;
  margin-left: -10px;
  border-color: var(--dl-color-gray-white);
  border-width: 1px;
  border-radius: var(--dl-layout-radius-round);
}
 
.blog-post-image7 {
  width: 20px;
  object-fit: cover;
  margin-left: -10px;
  border-color: var(--dl-color-gray-white);
  border-width: 1px;
  border-radius: var(--dl-layout-radius-round);
}
 
.blog-post-text53 {
  color: var(--dl-color-secondary-400);
  margin-left: 0.25rem;
}
 
.blog-post-thq-divider-elm2 {
  flex: 0 0 auto;
  width: 100%;
  height: 0.5px;
  display: flex;
  opacity: 0.5;
  align-self: center;
  margin-top: var(--dl-layout-space-unit);
  align-items: flex-start;
  margin-bottom: var(--dl-layout-space-unit);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
 
.blog-post-text54 {
  color: var(--dl-color-secondary-500);
  align-self: center;
}
 
.blog-post-text55 {
  color: var(--dl-color-secondary-500);
  align-self: center;
}
 
.blog-post-container21 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: var(--dl-layout-space-doubleunit);
  align-items: center;
  margin-bottom: var(--dl-layout-space-doubleunit);
  flex-direction: row;
}
 
.blog-post-image8 {
  width: 40px;
  object-fit: cover;
  margin-right: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-round);
}
 
.blog-post-textarea {
  color: var(--dl-color-secondary-400);
  width: 100%;
  outline: 0;
  padding: var(--dl-layout-space-halfunit);
  transition: 0.3s;
  border-color: rgba(203, 213, 225,1);
  border-radius: var(--dl-layout-radius-radius4);
}
 
.blog-post-textarea:focus {
  box-shadow: 0 0 0 2px #4AA4E3;
}
 
.blog-post-thq-posts-elm {
  display: flex;
  max-width: 1320px;
  align-items: center;
  margin-bottom: var(--dl-layout-space-tripleunit);
  flex-direction: column;
}
 
.blog-post-container22 {
  width: 66%;
  display: flex;
  max-width: 1320px;
  margin-top: var(--dl-layout-space-fiveunits);
  align-items: center;
  padding-left: var(--dl-layout-space-unit);
  margin-bottom: var(--dl-layout-space-tripleunit);
  padding-right: var(--dl-layout-space-unit);
  flex-direction: column;
}
 
.blog-post-text56 {
  color: var(--dl-color-secondary-400);
}
 
.blog-post-text57 {
  font-weight: 700;
  white-space: normal;
  background-color: rgb(255, 255, 255);
}
 
.blog-post-text58 {
  color: var(--dl-color-secondary-500);
  text-align: center;
  margin-bottom: var(--dl-layout-space-unitandhalf);
}
 
.blog-post-link {
  display: contents;
}
 
.blog-post-container23 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.blog-post-icon18 {
  width: 24px;
  margin-right: 4px;
}
 
.blog-post-text59 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
 
@media(max-width: 991px) {
  .blog-post-text10 {
    padding-left: var(--dl-layout-space-tripleunit);
    padding-right: var(--dl-layout-space-tripleunit);
  }
  .blog-post-thq-post-elm {
    width: 100%;
  }
  .blog-post-container22 {
    width: 100%;
    padding-left: var(--dl-layout-space-tripleunit);
    padding-right: var(--dl-layout-space-tripleunit);
  }
}
 
@media(max-width: 767px) {
  .blog-post-text12 {
    text-align: center;
  }
  .blog-post-thq-story-elm {
    width: 100%;
    padding-left: var(--dl-layout-space-doubleunit);
    padding-right: var(--dl-layout-space-doubleunit);
  }
  .blog-post-image2 {
    width: 80%;
    margin-top: var(--dl-layout-space-unit);
    margin-bottom: var(--dl-layout-space-unit);
  }
  .blog-post-container22 {
    width: 100%;
  }
}
 
@media(max-width: 479px) {
  .blog-post-text12 {
    text-align: center;
  }
  .blog-post-container12 {
    grid-template-columns: repeat(1, 1fr);
  }
}
