.navbar41-wrapper {
  display: contents;
}
 
.navbar41-container {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar41-thq-navbar-interactive-elm {
  width: 100%;
  display: flex;
  max-width: 1400px;
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 32px;
  justify-content: space-between;
}
 
.navbar41-thq-image1-elm {
  width: 94px;
  height: 90px;
}
 
.navbar41-thq-desktop-menu-elm {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
 
.navbar41-thq-buttons-elm1 {
  gap: 32px;
  display: flex;
  align-items: center;
  margin-left: 32px;
}
 
.navbar41-thq-action1-elm1 {
  width: 118px;
  display: flex;
  flex-direction: row;
  text-decoration: none;
}
 
.navbar41-thq-action1-elm2 {
  width: 118px;
  display: flex;
  flex-direction: row;
  text-decoration: none;
}
 
.navbar41-thq-burger-menu-elm {
  display: none;
}
 
.navbar41-thq-mobile-menu-elm {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar41-thq-nav-elm {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar41-thq-top-elm {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  justify-content: space-between;
}
 
.navbar41-thq-logo-elm {
  height: 3rem;
}
 
.navbar41-thq-close-menu-elm {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.navbar41-icon1 {
  width: 16px;
  height: 16px;
}
 
.navbar41-thq-links-elm {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar41-thq-buttons-elm2 {
  gap: 32px;
  display: flex;
  margin-top: 32px;
  align-items: center;
}
 
.home-fragment15 {
  display: contents;
}
 
.home-text15 {
  display: inline-block;
}
 
.home-fragment14 {
  display: contents;
}
 
.home-text14 {
  display: inline-block;
}
 
.home-fragment11 {
  display: contents;
}
 
.home-text11 {
  display: inline-block;
}
 
.home-fragment10 {
  display: contents;
}
 
.home-text10 {
  display: inline-block;
}
 
.home-fragment12 {
  display: contents;
}
 
.home-text12 {
  display: inline-block;
}
 
.home-fragment13 {
  display: contents;
}
 
.home-text13 {
  display: inline-block;
}
 
.home-fragment16 {
  display: contents;
}
 
.home-text16 {
  display: inline-block;
}
 
@media(max-width: 767px) {
  .navbar41-thq-navbar-interactive-elm {
    padding-left: 32px;
    padding-right: 32px;
  }
  .navbar41-thq-buttons-elm1 {
    width: 269px;
    height: 65px;
  }
  .navbar41-thq-burger-menu-elm {
    align-items: center;
    justify-content: center;
  }
}
 
@media(max-width: 479px) {
  .navbar41-thq-navbar-interactive-elm {
    padding: var(--dl-layout-space-unit);
  }
  .navbar41-thq-desktop-menu-elm {
    display: none;
  }
  .navbar41-thq-buttons-elm1 {
    width: auto;
    height: auto;
  }
  .navbar41-thq-action1-elm1 {
    width: auto;
  }
  .navbar41-text1 {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
  .navbar41-thq-action1-elm2 {
    width: auto;
    background-color: transparent;
  }
  .navbar41-text2 {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
  .navbar41-thq-burger-menu-elm {
    display: flex;
  }
  .navbar41-thq-mobile-menu-elm {
    padding: var(--dl-layout-space-unit);
  }
  .home-text16 {
    color: #000000;
  }
}

.gallery14-wrapper {
  display: contents;
}
 
.gallery14-thq-gallery3-elm {
  width: auto;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.gallery14-thq-max-width-elm {
  gap: 48px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.gallery14-thq-section-title-elm {
  gap: 24px;
  width: auto;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.gallery14-thq-text-elm {
  text-align: center;
}
 
.gallery14-thq-content-elm {
  gap: 32px;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.gallery14-container1 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.gallery14-thq-image1-elm {
  width: 100%;
  height: 300px;
  max-width: 600px;
  align-self: center;
}
 
.gallery14-text11 {
  text-align: center;
}
 
.gallery14-container2 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.gallery14-thq-image2-elm {
  width: 100%;
  height: 300px;
  max-width: 600px;
  align-self: center;
}
 
.gallery14-text13 {
  text-align: center;
}
 
.gallery14-container3 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.gallery14-thq-image3-elm {
  width: 100%;
  height: 300px;
  max-width: 600px;
}
 
.gallery14-text15 {
  text-align: center;
}
 
.home-fragment17 {
  display: contents;
}
 
.home-text26 {
  display: inline-block;
}
 
.home-fragment18 {
  display: contents;
}
 
.home-text32 {
  display: inline-block;
}
 
.home-fragment19 {
  display: contents;
}
 
.home-text38 {
  display: inline-block;
}
 
.home-fragment20 {
  display: contents;
}
 
.home-text39 {
  display: inline-block;
}
 
.home-fragment21 {
  display: contents;
}
 
.home-text40 {
  display: inline-block;
}
 
.home-fragment22 {
  display: contents;
}
 
.home-text41 {
  display: inline-block;
}
 
.home-fragment23 {
  display: contents;
}
 
.home-text42 {
  display: inline-block;
}
 
.gallery14root-class-name {
  width: auto;
  padding-top: var(--dl-layout-space-doubleunit);
  padding-bottom: var(--dl-layout-space-doubleunit);
  background-color: #003057;
}
 
@media(max-width: 991px) {
  .gallery14-thq-content-elm {
    align-items: center;
    flex-direction: column;
  }
  .gallery14-thq-image1-elm {
    flex: 0 0 auto;
    width: 100%;
    height: 360px;
  }
  .gallery14-thq-image2-elm {
    flex: 0 0 auto;
    width: 100%;
    height: 360px;
  }
  .gallery14-thq-image3-elm {
    flex: 0 0 auto;
    width: 100%;
    height: 360px;
  }
}
 
@media(max-width: 479px) {
  .gallery14-thq-max-width-elm {
    width: 459px;
  }
  .gallery14-container1 {
    width: 453px;
  }
  .gallery14-container2 {
    width: 459px;
  }
  .gallery14-container3 {
    width: 100%;
    margin-right: 0px;
  }
  .gallery14-thq-image3-elm {
    width: 463px;
  }
}

.footer-wrapper {
  display: contents;
}
 
.footer-container1 {
  width: 100%;
  display: flex;
  padding: var(--dl-layout-space-doubleunit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-pimary-900);
}
 
.footer-container2 {
  width: 100%;
  display: flex;
  max-width: 1320px;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.footer-container3 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer-text1 {
  color: var(--dl-color-secondary-400);
  margin-top: var(--dl-layout-space-unit);
  font-weight: 600;
}
 
.footer-text2 {
  color: var(--dl-color-secondary-500);
  margin-top: var(--dl-layout-space-halfunit);
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.footer-container4 {
  display: flex;
  margin-top: var(--dl-layout-space-unitandhalf);
  align-items: flex-start;
  flex-direction: row;
}
 
.footer-link1 {
  display: contents;
}
 
.footer-container5 {
  flex: 0 0 auto;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  margin-left: var(--dl-layout-space-halfunit);
  border-radius: var(--dl-layout-radius-round);
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
 
.footer-image1 {
  width: 50%;
  height: 20px;
  object-fit: cover;
}
 
.footer-link2 {
  display: contents;
}
 
.footer-container6 {
  flex: 0 0 auto;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  margin-left: var(--dl-layout-space-halfunit);
  border-radius: var(--dl-layout-radius-round);
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
 
.footer-icon1 {
  fill: #4267B2;
  width: 16px;
  height: 16px;
}
 
.footer-link3 {
  display: contents;
}
 
.footer-container7 {
  flex: 0 0 auto;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  margin-left: var(--dl-layout-space-halfunit);
  border-radius: var(--dl-layout-radius-round);
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
 
.footer-image2 {
  width: 94px;
  height: 26px;
  object-fit: cover;
}
 
.footer-table {
  width: 400px;
  display: table;
  border-collapse: collapse;
}
 
.footer-container8 {
  flex: 0 0 auto;
  width: 100%;
  height: 1px;
  display: flex;
  margin-top: var(--dl-layout-space-tripleunit);
  align-items: flex-start;
  margin-bottom: var(--dl-layout-space-tripleunit);
  flex-direction: column;
  background-color: #e3e8efff;
}
 
.footer-text3 {
  color: var(--dl-color-secondary-500);
  align-self: center;
}
 
@media(max-width: 991px) {
  .footer-container2 {
    align-items: center;
    flex-direction: column;
  }
  .footer-container3 {
    align-items: center;
    margin-bottom: var(--dl-layout-space-doubleunit);
  }
}
 
@media(max-width: 767px) {
  .footer-text2 {
    text-align: center;
  }
}
 
@media(max-width: 479px) {
  .footer-text2 {
    color: var(--dl-color-secondary-500);
    margin-top: var(--dl-layout-space-halfunit);
    text-align: center;
    margin-bottom: var(--dl-layout-space-halfunit);
  }
}

.home-container1 {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-fragment10 {
  display: contents;
}
 
.home-text10 {
  display: inline-block;
}
 
.home-fragment11 {
  display: contents;
}
 
.home-text11 {
  display: inline-block;
}
 
.home-fragment12 {
  display: contents;
}
 
.home-text12 {
  display: inline-block;
}
 
.home-fragment13 {
  display: contents;
}
 
.home-text13 {
  display: inline-block;
}
 
.home-fragment14 {
  display: contents;
}
 
.home-text14 {
  display: inline-block;
}
 
.home-fragment15 {
  display: contents;
}
 
.home-text15 {
  display: inline-block;
}
 
.home-fragment16 {
  display: contents;
}
 
.home-text16 {
  display: inline-block;
}
 
.home-thq-hero-elm {
  flex: 0 0 auto;
  width: 100%;
  height: 80vh;
  display: flex;
  opacity: 1;
  position: relative;
  align-self: center;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.65) 0.00%,rgba(0, 0, 0, 0.65) 0.00%),url("public/interior-1500h.jpg");
}
 
.home-container2 {
  right: 0px;
  width: 100%;
  bottom: -10px;
  height: 100%;
  display: flex;
  opacity: 1;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.home-image1 {
  top: auto;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: -1px;
  position: absolute;
  object-fit: cover;
}
 
.home-image2 {
  left: auto;
  right: 0px;
  width: 100%;
  bottom: 0px;
  display: none;
  position: absolute;
  object-fit: cover;
}
 
.home-text17 {
  color: var(--dl-color-theme-neutral-light);
  align-self: stretch;
  text-align: center;
  font-family: "Oxygen";
  padding-top: var(--dl-layout-space-unit);
  padding-left: 0rem;
  animation-name: none;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.home-thq-section1-elm {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-layout-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-fiveunits);
  background-color: #003057;
}
 
.home-container3 {
  width: 100%;
  display: flex;
  max-width: 1320px;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-doubleunit);
}
 
.home-thq-container-elm {
  width: 66%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  flex-direction: column;
}
 
.home-text21 {
  color: var(--dl-color-theme-secondary1);
  font-size: 1.875rem;
  text-align: center;
  font-weight: 700;
  text-transform: none;
  text-decoration: none;
}
 
.home-text22 {
  fill: var(--dl-color-gray-900);
  color: var(--dl-color-gray-900);
  text-align: center;
  margin-bottom: 0.25rem;
}
 
.home-text23 {
  display: inline;
  font-family: "Oxygen";
}
 
.home-image3 {
  top: auto;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: -1px;
  position: absolute;
  object-fit: cover;
}
 
.home-container4 {
  width: 751px;
  height: 697px;
}
 
.home-container5 {
  display: contents;
}
 
.home-fragment17 {
  display: contents;
}
 
.home-text26 {
  display: inline-block;
}
 
.home-fragment18 {
  display: contents;
}
 
.home-text32 {
  display: inline-block;
}
 
.home-fragment19 {
  display: contents;
}
 
.home-text38 {
  display: inline-block;
}
 
.home-fragment20 {
  display: contents;
}
 
.home-text39 {
  display: inline-block;
}
 
.home-fragment21 {
  display: contents;
}
 
.home-text40 {
  display: inline-block;
}
 
.home-fragment22 {
  display: contents;
}
 
.home-text41 {
  display: inline-block;
}
 
.home-fragment23 {
  display: contents;
}
 
.home-text42 {
  display: inline-block;
}
 
.home-image4 {
  top: auto;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: -1px;
  position: absolute;
  object-fit: cover;
}
 
.home-link {
  display: contents;
}
 
.home-container6 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.home-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.home-text51 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
 
@media(max-width: 767px) {
  .home-thq-section1-elm {
    padding-left: var(--dl-layout-space-doubleunit);
    padding-right: var(--dl-layout-space-doubleunit);
  }
  .home-thq-container-elm {
    width: 100%;
  }
}
 
@media(max-width: 479px) {
  .home-text16 {
    color: #000000;
  }
  .home-text17 {
    color: var(--dl-color-theme-neutral-light);
    font-family: Oxygen;
    padding-top: var(--dl-layout-space-unit);
    padding-left: 0px;
  }
  .home-container4 {
    width: 400px;
  }
}
