.footer-container1 {
  width: 100%;
  display: flex;
  padding: var(--dl-layout-space-doubleunit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-pimary-900);
}
 
.footer-container2 {
  width: 100%;
  display: flex;
  max-width: 1320px;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.footer-container3 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer-text1 {
  color: var(--dl-color-secondary-400);
  margin-top: var(--dl-layout-space-unit);
  font-weight: 600;
}
 
.footer-text2 {
  color: var(--dl-color-secondary-500);
  margin-top: var(--dl-layout-space-halfunit);
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.footer-container4 {
  display: flex;
  margin-top: var(--dl-layout-space-unitandhalf);
  align-items: flex-start;
  flex-direction: row;
}
 
.footer-link1 {
  display: contents;
}
 
.footer-container5 {
  flex: 0 0 auto;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  margin-left: var(--dl-layout-space-halfunit);
  border-radius: var(--dl-layout-radius-round);
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
 
.footer-image1 {
  width: 50%;
  height: 20px;
  object-fit: cover;
}
 
.footer-link2 {
  display: contents;
}
 
.footer-container6 {
  flex: 0 0 auto;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  margin-left: var(--dl-layout-space-halfunit);
  border-radius: var(--dl-layout-radius-round);
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
 
.footer-icon1 {
  fill: #4267B2;
  width: 16px;
  height: 16px;
}
 
.footer-link3 {
  display: contents;
}
 
.footer-container7 {
  flex: 0 0 auto;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  margin-left: var(--dl-layout-space-halfunit);
  border-radius: var(--dl-layout-radius-round);
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
 
.footer-image2 {
  width: 94px;
  height: 26px;
  object-fit: cover;
}
 
.footer-table {
  width: 400px;
  display: table;
  border-collapse: collapse;
}
 
.footer-container8 {
  flex: 0 0 auto;
  width: 100%;
  height: 1px;
  display: flex;
  margin-top: var(--dl-layout-space-tripleunit);
  align-items: flex-start;
  margin-bottom: var(--dl-layout-space-tripleunit);
  flex-direction: column;
  background-color: #e3e8efff;
}
 
.footer-text3 {
  color: var(--dl-color-secondary-500);
  align-self: center;
}
 
@media(max-width: 991px) {
  .footer-container2 {
    align-items: center;
    flex-direction: column;
  }
  .footer-container3 {
    align-items: center;
    margin-bottom: var(--dl-layout-space-doubleunit);
  }
}
 
@media(max-width: 767px) {
  .footer-text2 {
    text-align: center;
  }
}
 
@media(max-width: 479px) {
  .footer-text2 {
    color: var(--dl-color-secondary-500);
    margin-top: var(--dl-layout-space-halfunit);
    text-align: center;
    margin-bottom: var(--dl-layout-space-halfunit);
  }
}
