.header-thq-header-elm {
  flex: 0 0 auto;
  width: 100%;
  height: 75px;
  display: flex;
  padding: var(--dl-layout-space-unitandhalf);
  z-index: 1;
  max-width: 1320px;
  align-items: center;
  margin-bottom: 0.75rem;
  flex-direction: row;
  justify-content: space-between;
}
 
.header-container1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.header-navlink1 {
  display: contents;
}
 
.header-thq-heading-elm1 {
  color: var(--dl-color-gray-white);
  font-weight: 700;
  margin-right: var(--dl-layout-space-unit);
  text-decoration: none;
}
 
.header-navlink2 {
  display: contents;
}
 
.header-container2 {
  display: flex;
  align-items: center;
  margin-right: var(--dl-layout-space-unit);
  flex-direction: row;
  text-decoration: none;
}
 
.header-icon10 {
  fill: var(--dl-color-gray-900);
  width: 13px;
}
 
.header-text1 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-layout-space-halfunit);
}
 
.header-navlink3 {
  display: contents;
}
 
.header-container3 {
  display: flex;
  align-items: center;
  margin-left: var(--dl-layout-space-halfunit);
  flex-direction: row;
  text-decoration: none;
}
 
.header-icon12 {
  fill: var(--dl-color-gray-900);
  width: 13px;
}
 
.header-text2 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-layout-space-halfunit);
}
 
.header-thq-burger-menu-elm {
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.header-icon17 {
  width: 24px;
  height: 24px;
}
 
.header-container4 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.header-icon19 {
  fill: var(--dl-color-gray-900);
  width: 24px;
  height: 24px;
  margin-top: var(--dl-layout-space-halfunit);
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.header-icon21 {
  fill: var(--dl-color-gray-900);
  width: 24px;
  height: 24px;
  margin-top: var(--dl-layout-space-halfunit);
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.header-icon23 {
  fill: var(--dl-color-gray-900);
  width: 24px;
  height: 24px;
  margin-top: var(--dl-layout-space-halfunit);
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.header-thq-mobile-menu-elm {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-layout-space-unitandhalf);
  z-index: 100;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
}
 
.header-thq-top-elm {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-unit);
  flex-direction: row;
  justify-content: space-between;
}
 
.header-navlink4 {
  display: contents;
}
 
.header-thq-heading-elm2 {
  color: var(--dl-color-secondary-400);
  font-weight: 700;
  margin-right: var(--dl-layout-space-unit);
  text-decoration: none;
}
 
.header-thq-close-menu-elm {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.header-icon25 {
  width: 24px;
  height: 24px;
}
 
.header-thq-mid-elm {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
 
.header-navlink5 {
  display: contents;
}
 
.header-container5 {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  flex-direction: row;
  text-decoration: none;
}
 
.header-icon27 {
  fill: var(--dl-color-secondary-400);
  width: 13px;
}
 
.header-text3 {
  color: var(--dl-color-secondary-400);
  margin-left: var(--dl-layout-space-halfunit);
}
 
.header-navlink6 {
  display: contents;
}
 
.header-container6 {
  display: flex;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
}
 
.header-icon29 {
  fill: var(--dl-color-secondary-400);
  width: 13px;
}
 
.header-text4 {
  color: var(--dl-color-secondary-400);
  margin-left: var(--dl-layout-space-halfunit);
}
 
.header-thq-bot-elm {
  flex: 0 0 auto;
  display: flex;
  margin-top: auto;
  align-items: center;
  flex-direction: row;
}
 
.header-icon34 {
  fill: var(--dl-color-secondary-400);
  width: 24px;
  height: 24px;
  margin-top: var(--dl-layout-space-halfunit);
  margin-right: 0.75rem;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.header-icon36 {
  fill: var(--dl-color-secondary-400);
  width: 24px;
  height: 24px;
  margin-top: var(--dl-layout-space-halfunit);
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.header-icon38 {
  fill: var(--dl-color-secondary-400);
  width: 24px;
  height: 24px;
  margin-top: var(--dl-layout-space-halfunit);
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.headerroot-class-name {
  margin-bottom: 0px;
}
 
@media(max-width: 991px) {
  .header-thq-header-elm {
    max-width: 1320px;
    margin-bottom: var(--dl-layout-space-triplequarter);
  }
  .header-icon19 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .header-icon21 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .header-icon23 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .header-icon34 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .header-icon36 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .header-icon38 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
 
@media(max-width: 767px) {
  .header-thq-header-elm {
    background-color: var(--dl-color-gray-white);
  }
  .header-thq-heading-elm1 {
    color: var(--dl-color-secondary-400);
  }
  .header-container2 {
    display: none;
  }
  .header-container3 {
    display: none;
  }
  .header-thq-burger-menu-elm {
    display: flex;
  }
  .header-icon17 {
    fill: var(--dl-color-secondary-400);
  }
  .header-container4 {
    display: none;
  }
  .headerroot-class-name {
    margin-bottom: 0px;
  }
}
