.navbar2-container {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar2-thq-navbar-interactive-elm {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 32px;
  justify-content: space-between;
}
 
.navbar2-thq-image1-elm {
  height: 3rem;
}
 
.navbar2-thq-desktop-menu-elm {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
 
.navbar2-thq-links-elm1 {
  gap: 32px;
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
 
.navbar2-thq-burger-menu-elm {
  display: none;
}
 
.navbar2-icon10 {
  width: 16px;
  height: 16px;
}
 
.navbar2-thq-mobile-menu-elm {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar2-thq-nav-elm {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar2-thq-top-elm {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  justify-content: space-between;
}
 
.navbar2-thq-logo-elm {
  height: 3rem;
}
 
.navbar2-thq-close-menu-elm {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.navbar2-icon12 {
  width: 16px;
  height: 16px;
}
 
.navbar2-thq-links-elm2 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar2-thq-icon-group-elm {
  gap: 32px;
  display: flex;
}
 
.navbar2-fragment1 {
  display: contents;
}
 
.navbar2-text1 {
  display: inline-block;
}
 
.navbar2-fragment2 {
  display: contents;
}
 
.navbar2-text2 {
  display: inline-block;
}
 
.navbar2-fragment3 {
  display: contents;
}
 
.navbar2-text3 {
  display: inline-block;
}
 
.navbar2-fragment4 {
  display: contents;
}
 
.navbar2-text4 {
  display: inline-block;
}
 
.navbar2-fragment5 {
  display: contents;
}
 
.navbar2-text5 {
  display: inline-block;
}
 
@media(max-width: 767px) {
  .navbar2-thq-navbar-interactive-elm {
    padding-left: 32px;
    padding-right: 32px;
  }
  .navbar2-thq-desktop-menu-elm {
    display: none;
  }
  .navbar2-thq-burger-menu-elm {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
 
@media(max-width: 479px) {
  .navbar2-thq-navbar-interactive-elm {
    padding: var(--dl-layout-space-unit);
    padding-right: 16px;
  }
  .navbar2-thq-mobile-menu-elm {
    padding: var(--dl-layout-space-unit);
  }
}
