.navbar41-container {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar41-thq-navbar-interactive-elm {
  width: 100%;
  display: flex;
  max-width: 1400px;
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 32px;
  justify-content: space-between;
}
 
.navbar41-thq-image1-elm {
  width: 94px;
  height: 90px;
}
 
.navbar41-thq-desktop-menu-elm {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
 
.navbar41-thq-buttons-elm1 {
  gap: 32px;
  display: flex;
  align-items: center;
  margin-left: 32px;
}
 
.navbar41-thq-action1-elm1 {
  width: 118px;
  display: flex;
  flex-direction: row;
  text-decoration: none;
}
 
.navbar41-thq-action2-elm1 {
  width: 117px;
  display: flex;
  flex-direction: row;
}
 
.navbar41-link {
  text-decoration: none;
}
 
.navbar41-thq-burger-menu-elm {
  display: none;
}
 
.navbar41-thq-mobile-menu-elm {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar41-thq-nav-elm {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar41-thq-top-elm {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  justify-content: space-between;
}
 
.navbar41-thq-logo-elm {
  height: 3rem;
}
 
.navbar41-thq-close-menu-elm {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.navbar41-icon1 {
  width: 16px;
  height: 16px;
}
 
.navbar41-thq-links-elm {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar41-thq-buttons-elm2 {
  gap: 32px;
  display: flex;
  margin-top: 32px;
  align-items: center;
}
 
.navbar41-fragment1 {
  display: contents;
}
 
.navbar41-text2 {
  display: inline-block;
}
 
.navbar41-fragment2 {
  display: contents;
}
 
.navbar41-text3 {
  display: inline-block;
}
 
.navbar41-fragment3 {
  display: contents;
}
 
.navbar41-text4 {
  display: inline-block;
}
 
.navbar41-fragment4 {
  display: contents;
}
 
.navbar41-text5 {
  display: inline-block;
}
 
.navbar41-fragment5 {
  display: contents;
}
 
.navbar41-text6 {
  display: inline-block;
}
 
.navbar41-fragment6 {
  display: contents;
}
 
.navbar41-text7 {
  display: inline-block;
}
 
.navbar41-fragment7 {
  display: contents;
}
 
.navbar41-text8 {
  display: inline-block;
}
 
@media(max-width: 767px) {
  .navbar41-thq-navbar-interactive-elm {
    padding-left: 32px;
    padding-right: 32px;
  }
  .navbar41-thq-desktop-menu-elm {
    display: none;
  }
  .navbar41-thq-buttons-elm1 {
    width: 269px;
    height: 65px;
  }
  .navbar41-thq-burger-menu-elm {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
 
@media(max-width: 479px) {
  .navbar41-thq-navbar-interactive-elm {
    padding: var(--dl-layout-space-unit);
  }
  .navbar41-thq-buttons-elm1 {
    width: 224px;
    height: 23px;
  }
  .navbar41-thq-mobile-menu-elm {
    padding: var(--dl-layout-space-unit);
  }
}
