.testimonial13-thq-max-width-elm {
  gap: var(--dl-layout-space-fiveunits);
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.testimonial13-thq-section-title-elm {
  gap: 24px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.testimonial13-thq-title-elm {
  width: 100%;
  text-align: center;
}
 
.testimonial13-thq-subtitle-elm {
  text-align: center;
}
 
.testimonial13-container {
  gap: 32px;
  width: auto;
}
 
.testimonial13-thq-content-elm1 {
  gap: 32px;
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.testimonial13-thq-stars-elm1 {
  fill: var(--dl-color-theme-primary1);
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.testimonial13-thq-text-elm1 {
  text-align: center;
}
 
.testimonial13-thq-avatar-elm1 {
  gap: 24px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.testimonial13-thq-avatar-image-elm1 {
  width: 56px;
  height: 56px;
  object-fit: cover;
}
 
.testimonial13-thq-avatar-content-elm1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.testimonial13-thq-text-elm2 {
  font-style: normal;
  font-weight: 600;
}
 
.testimonial13-thq-logo-elm1 {
  height: 2rem;
}
 
.testimonial13-thq-content-elm2 {
  gap: 32px;
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.testimonial13-thq-stars-elm2 {
  fill: var(--dl-color-theme-primary1);
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.testimonial13-thq-text-elm4 {
  text-align: center;
}
 
.testimonial13-thq-avatar-elm2 {
  gap: 24px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.testimonial13-thq-avatar-image-elm2 {
  width: 56px;
  height: 56px;
  object-fit: cover;
}
 
.testimonial13-thq-avatar-content-elm2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.testimonial13-thq-text-elm5 {
  font-style: normal;
  font-weight: 600;
}
 
.testimonial13-thq-logo-elm2 {
  height: 2rem;
}
 
.testimonial13-fragment1 {
  display: contents;
}
 
.testimonial13-text1 {
  display: inline-block;
}
 
.testimonial13-fragment2 {
  display: contents;
}
 
.testimonial13-text2 {
  display: inline-block;
}
 
.testimonial13-fragment3 {
  display: contents;
}
 
.testimonial13-text3 {
  display: inline-block;
}
 
.testimonial13-fragment4 {
  display: contents;
}
 
.testimonial13-text4 {
  display: inline-block;
}
 
.testimonial13-fragment5 {
  display: contents;
}
 
.testimonial13-text5 {
  display: inline-block;
}
 
.testimonial13-fragment6 {
  display: contents;
}
 
.testimonial13-text6 {
  display: inline-block;
}
 
.testimonial13-fragment7 {
  display: contents;
}
 
.testimonial13-text7 {
  display: inline-block;
}
 
.testimonial13-fragment8 {
  display: contents;
}
 
.testimonial13-text8 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .testimonial13-container {
    align-items: center;
  }
}
 
@media(max-width: 767px) {
  .testimonial13-thq-max-width-elm {
    padding: 48px;
  }
  .testimonial13-thq-section-title-elm {
    width: 100%;
    max-width: 800px;
  }
  .testimonial13-container {
    flex-direction: column;
  }
}
 
@media(max-width: 479px) {
  .testimonial13-thq-max-width-elm {
    padding: 24px;
  }
  .testimonial13-thq-avatar-elm1 {
    flex-direction: column;
  }
  .testimonial13-thq-avatar-content-elm1 {
    align-items: center;
    justify-content: center;
  }
  .testimonial13-thq-avatar-elm2 {
    flex-direction: column;
  }
  .testimonial13-thq-avatar-content-elm2 {
    align-items: center;
    justify-content: center;
  }
}
