.user-details-container1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.user-details-image {
  width: 40px;
  object-fit: cover;
  margin-right: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-round);
}
 
.user-details-container2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.user-details-text1 {
  color: var(--dl-color-secondary-500);
  font-weight: 700;
  text-transform: uppercase;
}
 
.user-details-container3 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.user-details-text2 {
  color: var(--dl-color-secondary-500);
  font-weight: 400;
  margin-right: 0.25rem;
}
 
.user-details-text3 {
  color: var(--dl-color-secondary-500);
  font-weight: 400;
}
 
.user-details-text4 {
  color: var(--dl-color-secondary-500);
  font-weight: 400;
  margin-left: 0.25rem;
}
